{% extends "base.html" %}
{% block meta %}
    <title>Skill - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="skills" id="skills">
            <div class="desc">
                <span>乐</span>
                <div class="line"></div>
                <p>Somethings that i'll keep practicing</p>
            </div>
                <h2>My Skills</h2>

            {% for skill in skill_list %}
                <div class="skill">
                    <div class="skill-info">
                        <span class="skill-name">{{ skill.title }}</span>
                        <span class="skill-per">{{ skill.percentage }}%</span>
                    </div>
                    <div class="skill-bar">
                        <div class="skill-fill" style="--percent: {{ skill.percentage }}%;"></div>
                    </div>
                </div>
            {% empty %}
                <div class="empty-box">
                    <h3>
                        Belum ada skill yang ditambahkan.
                    </h3>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock content %}